<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Your Bank</title>
<link rel="stylesheet" type="text/css" 
href="../static/css/bootstrap.min.css" 
th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" 
href="../static/css/myStyle.css" 
th:href="@{/css/myStyle.css}"/>
</head>
<body>
<header></header>
<section></section>
<footer></footer>

</body>
</html>